-f https://data.pyg.org/whl/torch-2.2.1+cpu.html
-f https://download.pytorch.org/whl/cpu/torch_stable.html
pandas
SPARQLWrapper
tqdm
scikit-learn
seaborn
numpy
graphviz
camelsplit
matplotlib
torch==2.2.1+cpu
torch-scatter
torch-sparse
torch-geometric
torchvision
ogb
memory_profiler
bitstring
compress_fasttext
nltk
fasttext
dateparser
comet_ml